<section id="dashboard" class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <custom-header></custom-header>
                <div class="panel-body">
                    <div class="row grid-chart-container">
                        <div class="col-lg-12">
                            <div class="table-responsive" ng-if='vm.isShowtable'>
                                <custom-table table-data=" vm.orders"></custom-table>
                            </div>
                            <div id='bar-chart' ng-if='vm.isShowChart'>
                                <bar-chart chart-data="vm.orders" id="chart"></bar-chart>
                            </div>
                            <div class="alert alert-info" ng-if="vm.isOrdersNotAvailable">
                                <strong> Orders are not available, please create order.</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <prompt-box></prompt-box>
            <confirm-box></confirm-box>
            <alert-box></alert-box>
        </div>
    </div>
</section>
