<section id="dashboard" class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <custom-header></custom-header>
                <div class="panel-body">
                    <div class="row grid-chart-container">
                        <div class="col-lg-12">
                            <div class="table-responsive" ng-if='vm.isShowtable'>
                                <custom-table table-data=" vm.orders"></custom-table>
                            </div>
                            <div id='bar-chart' ng-if='vm.isShowChart'>
                                <bar-chart data="vm.orders"></bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-success fade in" ng-if='toggleAlert'>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Order created.</strong>
            </div>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Please enter nuber of order to create</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" ng-model='noOfOrders' class="form-control"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click='vm.createOrders()'
                                    data-dismiss="modal">Create
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
