<div class="modal fade" id="cnfBox" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are You Sure !!!!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click='cnfController.deleteAllOrders()'
                        data-dismiss="modal">Yes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
