/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$color-sample1:                  #EEEEEE;
$color-sample2:                  #AAAAAA;

// -------------------------
// Bootstrap Overrides
// -------------------------

/* ----- Typography ----- */

//app specific
$button-size:smaller;
$button-color:black;
$button-text-color:white;
$panel-bg-color:#dedede;
